:root {
  --roboto: "Roboto", sans-serif;
  --shantell: "Shantell Sans", cursive;
  --or: #f1ee0a;
  --white: white;
  --dark: #333;
  --graylight: #e8e8e1;
  --black: black;
  --gray: gray;
  --blacklight: #444;
}
